<h1>ユーザ一覧</h1>

<p class="line"></p>

<div class="frame">

<table>
  <tr class="titleColor">
    <th class="box">Name</th>
    <th class="box">Email</th>
    <th colspan="4" class="box"></th>
  </tr>

<% @users.each do |user| %>
  <tr class="backColor">
    <td class="box"><%= user.name %></td>
    <td class="box"><%= user.email %></td>
    <td class="box"><%= link_to 'Galleries', galleries_path(:user_id => user.id) %></td>
    <td class="box"><%= link_to 'Show', user %></td>
    <td class="box"><%= link_to 'Edit', edit_user_path(user) %></td>
    <td class="box"><%= link_to 'Destroy', user, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New User', new_user_path %>

</div>
