<h1>作品一覧</h1>

<p class="line" />

<table>
  <tr>
    <th class="box">userId</th>
    <th class="box">Title</th>
    <th class="box">Photo</th>
    <th colspan="3" class="box"></th>
  </tr>

<% @galleries.each do |gallery| %>
  <tr class="backColor">
    <td class="box"><%= gallery.user_id %></td>
    <td class="box"><%= gallery.title %></td>
    <td class="box"><%= image_tag(gallery.photo_url(:thumb).to_s) if gallery.photo? %></td>
    <td class="box"><%= link_to 'Show', gallery %></td>
    <td class="box"><%= link_to 'Edit', edit_gallery_path(gallery) %></td>
    <td class="box"><%= link_to 'Destroy', gallery, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Gallery', new_gallery_path %>
<%= link_to 'Go To Index', users_path %>
